.place {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    row-gap: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
  }
}
